@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

:root {
    --primary500: #1F3D34;
    --secondary500: #B9975B;
}

body {
    width: 100%;
    margin: 0;
    color:  var(--primary500);
    font-family: 'Montserrat';
    background-color: #f5f1e8;
}

.logo {
  height: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 24px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary500);
    min-height: 7vh;
}

hr {
  margin: 2rem auto;
  border: none;
  border-bottom: 1px solid var(--secondary500);
}

.hero {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 24px;
    background-image: url('images/background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.cta {
    text-decoration: none;
    display: flex;
    padding: 1rem;
    background-color: var(--secondary500);
    border-radius: 2px;
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;   
}

h1 {
    text-align: center;
    color: #fcfeff;
    font-family: "Playfair Display";
    font-size: 3.815rem;;
    font-weight: 100;
}

.important {
    color: var(--secondary500);
    font-style: italic;
}

.description {
    width: 40%;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 0.64rem;
}

nav > *:not(.nav-button){
    display: none;
    justify-content: space-around;
    gap: 25px;
}

a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

section {
  margin-bottom: 2rem;
}

.nav-button {
    text-decoration: none;
    display: flex;
    height: 90%;
    padding: 5px;
    background-color: var(--secondary500);
    border-radius: 2px;
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#inicio {
  display: grid;
  justify-content: center;
}

.card {
  padding: 50px;
  border-bottom: 1px solid var(--secondary500);
  max-width: 256px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card:last-child {
  border-bottom: none;
}

.card-icon {
  height: 2rem;
}

.card-title {
  font-size: 1.2rem;
}

h2 {
  font-family:  "Playfair Display";
  color: var(--primary500);
  font-weight: bold;
  font-size: 1.953rem;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 2rem;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: #1F3D34;
  border-radius: 5px;
}

.food-text {
  width: 90%;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 10px;
}

.food-image {
  margin-top: 10px;;
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  padding: 1rem;
  background-color: var(--primary500);
  color: var(--secondary500);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.divider {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vertical-divider {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.footer-logo {
  height: 80px;
}

.legend {
  font-size: 0.833rem;
}

.icon {
  height: 1.4rem;
}

.map-container {
  display: flex;
  justify-content: center;
}

.mapa {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 24px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary500);
    min-height: 7vh;
  }

  nav > *:not(.nav-button){
    display: flex;
}

  nav {
    display: flex;
    justify-content: space-around;
    gap: 25px;
  }

  #inicio {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    border-bottom: none;
    border-right: 1px solid var(--secondary500);
  }

  .card:last-child {
    border-right: none;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}